:root {
    --fo: rgb(95, 67, 15);
    --mellek:rgb(121, 119, 26);
  }


.navbar{
    background-color: var(--fo) !important;
    border-radius: 0px 0px 10px 10px;
}

.navbar-brand{

    color: aliceblue !important;
}

body{
    background-color: var(--mellek);
}

#gombok{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#gombok button{
    margin: 10px;
    background-color: var(--fo);
    color: white;
    border-color: var(--mellek);
    border-radius: 20px;
}

.modal-header{
    color: white;
    background-color: var(--fo);
}

.modal-dialog{
    color: white;
}

.modal-body{
    color: white;
    background-color: var(--mellek);
}

.modal-footer{
    color: white;
    background-color: var(--mellek);
}

.btn-close{
    background-color: white;
}

.modal-footer input{
    color: white;
    background-color: var(--fo);
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#regisztracio{
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
#terkepdiv{
    
}