:root {
    --fo: rgb(95, 67, 15);
    --mellek:rgb(121, 119, 26);
    --belter: rgb(202, 172, 82);
  }


.navbar{
    background-color: var(--fo) !important;
    border-radius: 0px 0px 10px 10px;
}

.navbar-brand{
    color: aliceblue !important;
}

body{
    background-color: var(--mellek);
}

h2{
    padding: 10px;
}


table td{
    padding-right: 75px;
    border-bottom: 2px solid black;
    color: white;
}
.gombok{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.basicGomb{
    margin: 10px;
    background-color: var(--fo);
    color: white;
    border-color: var(--mellek);
    border-radius: 20px;
}

.modal-header{
    color: white;
    background-color: var(--fo);
}

.modal-dialog{
    color: white;
}

.modal-body{
    color: white;
    background-color: var(--mellek);
}

.modal-footer{
    color: white;
    background-color: var(--mellek);
}

.btn-close{
    background-color: white;
}

.modal-footer input{
    color: white;
    background-color: var(--fo);
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#regisztracio{
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
#terkepdiv{
    border: solid var(--fo) 0.5vw;
    border-radius: 10%;
}
#kerdesdiv{
    width: max-content;
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    background-color: var(--belter);
    padding: 1vw;
}
#logoutbtn{
    width: max-content;
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    background-color: var(--fo);
    color: white;
}
#nehezsegGombok{
    display: flex;
    margin: 10px;
}
#terkep{
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
}

#Admindiv{
    /*
    position: absolute;
    bottom: 0px;*/
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
}
#Deletediv{/*
    position: absolute;
    bottom: 0px;*/
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
    
}

#Admintoroldiv{
    position: absolute;
    bottom: 0px;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
}

#kerdesjelen{
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 20vw; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    word-break: break-all;
}

#kerdeseklista{
    width: 20vw;
    word-break: break-all;
}

#tovabbgomb{
    margin: 10px;
    background-color: var(--fo);
    color: white;
    border-color: var(--mellek);
    border-radius: 20px;
}

.cimtorol{
    margin: 10px;
    background-color: var(--fo);
    color: white;
    border-color: var(--mellek);
    border-radius: 20px 20px 5px 5px;
    padding: 1vw;
    align-self: center;
}

.egeszOldalDiv{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

#baloldaldiv{
    flex: 1;
}
#jobboldaldiv {
    background-color: lightblue;
    
}


#confetti { left: 0; position: fixed; right: 0; top: -160px; z-index: 10000;} #confetti .ball { animation-iteration-count :infinite !important; -webkit-animation-iteration-count :infinite !important; border-radius: 50%; cursor: default; display: inline-block; height: 10px; user-select: none; -webkit-user-select: none; width: 10px;} @-webkit-keyframes falling-left { 0% {-webkit-transform: translate3d(0,0,0);opacity: 1;} 10% { opacity: 0;} 20% { opacity: 1;} 30% { opacity: 0;} 40% { opacity: 1;} 50% { opacity: 0;} 60% { opacity: 1;} 70% { opacity: 0;} 80% { opacity: 1;} 90% { opacity: 0;} 100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}} @keyframes falling-left { 0% {-webkit-transform: translate3d(0,0,0);opacity: 1;} 10% { opacity: 0;} 20% { opacity: 1;} 30% { opacity: 0;} 40% { opacity: 1;} 50% { opacity: 0;} 60% { opacity: 1;} 70% { opacity: 0;} 80% { opacity: 1;} 90% { opacity: 0;} 100% {-webkit-transform: translate3d(0,120vh,0); opacity: 1;}} #confetti .ball:nth-child(2n) { -webkit-animation: falling-left linear; animation: falling-left linear ;} @-webkit-keyframes falling-right { 0% {-webkit-transform: translate3d(0,0,0);opacity: 0;} 10% { opacity: 1;} 20% { opacity: 0;} 30% { opacity: 1;} 40% { opacity: 0;} 50% { opacity: 1;} 60% { opacity: 0;} 70% { opacity: 1;} 80% { opacity: 0;} 90% { opacity: 1;} 100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;}} @keyframes falling-right { 0% {-webkit-transform: translate3d(0,0,0);opacity: 1;} 10% { opacity: 0;} 20% { opacity: 1;} 30% { opacity: 0;} 40% { opacity: 1;} 50% { opacity: 0;} 60% { opacity: 1;} 70% { opacity: 0;} 80% { opacity: 1;} 90% { opacity: 0;} 100% {-webkit-transform: translate3d(0,120vh,0); opacity: 0;} } #confetti .ball:nth-of-type(2n+1) { -webkit-animation: falling-right linear ; animation: falling-right linear;}