:root {
    --fo: rgb(95, 67, 15);
    --mellek:rgb(121, 119, 26);
  }


.navbar{
    background-color: var(--fo) !important;
    border-radius: 0px 0px 10px 10px;
}

.navbar-brand{
    color: aliceblue !important;
}

body{
    background-color: var(--mellek);
}

h2{
    padding: 10px;
}


table td{
    padding-right: 75px;
    border-bottom: 2px solid black;
    color: white;
}
.gombok{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.basicGomb{
    margin: 10px;
    background-color: var(--fo);
    color: white;
    border-color: var(--mellek);
    border-radius: 20px;
}

.modal-header{
    color: white;
    background-color: var(--fo);
}

.modal-dialog{
    color: white;
}

.modal-body{
    color: white;
    background-color: var(--mellek);
}

.modal-footer{
    color: white;
    background-color: var(--mellek);
}

.btn-close{
    background-color: white;
}

.modal-footer input{
    color: white;
    background-color: var(--fo);
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#loginForm{
    display: flex;
    flex-direction: column;
}

#regisztracio{
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
  }
#terkepdiv{
    border: solid var(--fo) 0.5vw;
    border-radius: 10%;
}
#kerdesdiv{
    width: max-content;
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
}
#nehezsegGombok{
    display: flex;
    margin: 10px;
}
#terkep{
    border: solid var(--fo) 0.5vw;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    margin: 5px;
}

#Admindiv{
    /*
    position: absolute;
    bottom: 0px;*/
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
}
#Deletediv{/*
    position: absolute;
    bottom: 0px;*/
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
    
}

#Admintoroldiv{
    position: absolute;
    bottom: 0px;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
}

